<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body 
     {
        margin-left: 100px;
        background-color: beige;
    }
  h1 {
    color: white;
    padding-left: 25px;
  }
  h2
  {
      padding-left: 25px;
  }
  p {
    color: white;
    padding-left: 25px;
  }
    </style>
</head>

<header>
	
  <h1>Hi, We are WizCart</h1>
  <p>Designed by Siddarth Ojha, Vasav Raj Shukla, Swarinim Sudhanshu and Lokesh kumar Nalot</p>
</header>
    <h1>Introduction</h1>
    <p>We made an app WizCart which sells products with a very innovative technique ..</p>
    <p>It’s equipped with a QR code scanner and other various hardware components to automatically detect what items you’re buying and even how many of those items you’ve picked off the shelf. When you’re done shopping, you’re allowed to take the cart through a special lane that checks you out digitally without requiring a human cashier to ring you up</p>
    <section>
    <p>the idea builds on our approach of trying to take the convenience  </p>

    <h1>More About our product</h1>
    <h2>What are the products we sell</h2>
    <p>Currently we are selling Fruits and Vegetables But soon we will expand many more exciting products</p>
    <p>The store is up and running for fulfilling online grocery orders, it’s aiming to open the store later this year.</p>
    
	
    <p>The cart processes your order at the end of the trip only because you’ve first signed into our app account</p>
    <p>. on your phone and scanned it at the beginning of the grocery trip. The cart also has a coupon scanner built in and supports  shopping lists feature. When you finish shopping, it says dedicated Dash Cart lanes let you just exit the store without dealing with payments or waiting in a checkout line.</p>
    <p>Software used:-</p>
    <ul>
        <li>Angular</li>
        <li>Firebase</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JAVASCRIPT</li>
    </ul>
</section>

<footer class="content-footer">
    <p>You can  Contact us on:</p>
    <ul class="social">
        <p>+91-9654326743</p>
        <li><a class="css-is-deranged" href="support_wizcart@gmail.com">support_wizCart@gmail.com</a></li>
        <li><a class="css-is-deranged" href="www.wizcart.com">www.wizCart.com</a></li>
    </ul>
  
</footer>
</html>